.carousel {
  display: grid;
  grid-auto-flow: column;          
  grid-auto-columns: 100%;          
}

.carousel-item {
  scroll-snap-align: start;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
}

.success {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
}

.card {
  transition: 0.4s;
}
.card:hover {
  transform: scale(1.15);
}

.sign_up{
  transition: 0.3s;
}

.sign_up:hover{
  transform: scale(1.15);
}

html {
  scroll-behavior: smooth;
}
.navbar-brand:hover {
  transform: scale(1.08);

}
.navbar-brand {
  transition: transform 0.15s ease;
}

/* Hovers seperated for a smooth transition effect */
.nav-link:hover {
  transform: scale(1.08);
}
.nav-link {
  transition: transform 0.15s ease;
}
.carousel-caption {
  bottom: 5%;
}

.steps:hover {
  transform: scale(1.05);
}
.steps {
  transition: transform 0.3s;
}

/* Show Features Button on Footer Clearly */
#features {
  scroll-margin-top: 130px;
}
#start {
  scroll-margin-top: 250px;
}

brand_footer{
  transition: transform 0.3s;
}
brand_footer:hover{
  transform: scale(1.05);
}

.card-img-top {
  width: 100%;
  height: 200px;       /* adjust to taste */
  object-fit: cover;
  display: block;
}

#pricing{
  scroll-margin-top: 130px;
}