.carousel {
  display: grid;
  grid-auto-flow: column;          
  grid-auto-columns: 100%;          
}

.carousel-item {
  scroll-snap-align: start;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
}

.success {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
}

.card {
  transition: 0.4s;
}
.card:hover {
  transform: scale(1.15);
}

.sign_up{
  transition: 0.3s;
}

.sign_up:hover{
  transform: scale(1.15);
}

html {
  scroll-behavior: smooth;
}