<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CDN link below -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.5.0/chart.min.js"
        integrity="sha512-n/G+dROKbKL3GVngGWmWfwK0yPctjZQM752diVYnXZtD/48agpUKLIn0xDQL9ydZ91x6BiOmTIFwWjjFi2kEFg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.4/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.4/css/dataTables.dataTables.css" />
    <title>Document</title>
</head>

<body>
    <!-- Template Inheritance - Parent -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary justify-content-between">
        <div class="container fixed-top bg-light">
            <a class="navbar-brand ms-5 fs-3 fw-bold" href="/" style="color: crimson;"><span style="color: black;"><i
                        class="fa-solid fa-basket-shopping fs-4"></i></span>MyDuka <sup
                    style="color: black;">Ke</sup></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <div class="navbar-nav me-5 fs-5">
                    <a class="nav-link active me-4" aria-current="page" href="/">Home</a>
                    <a class="nav-link me-4" href="/products" role="button" aria-expanded="false" style="color: black;">
                        Products
                    </a>
                    <a class="nav-link me-4" href="/sales" role="button" aria-expanded="false" style="color: black;">
                        Sales
                    </a>
                    <a class="nav-link me-4" href="/stock" role="button" aria-expanded="false" style="color: black;">
                        Stock
                    </a>
                    <a class="nav-link me-4" href="/dashboard" role="button" aria-expanded="false"
                        style="color: black;">
                        Dashboard
                    </a>
                    <a class="nav-link me-4 btn btn-lg px-4 py-2 rounded-5"
                        style="background-color:#007BFF; color: white;" href="/logout" role="button"
                        aria-expanded="false" style="color: black;">Log out</a>
                    <a class="nav-link me-4" href="/register" role="button" aria-expanded="false"
                        style="color: black;">Register</a>
                </div>
            </div>
        </div>
    </nav> <br> <br> 
    <div class="container"><!-- Flask with categories - Python inside Jinja -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
            <li class="{{ category }} list-unstyled container text-center">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <!-- Bootstrap Links for Graphs e.t.c -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/2.3.4/js/dataTables.js"></script>
    
    <script>{% block script %} {% endblock %}</script>

</body>

</html>